html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

div {
  padding: 5px;
  background-color: white;
}

img {
  border-radius: 20%;
  background-color: orange;
  
}

.profile-text {
  margin-left: 300px;
  margin-bottom: 100px;
  margin-top: -250px;
}

#detail {
  margin-left: 600px;
  margin-bottom: 150px;
  margin-top: -200px;
}

button{
  border-radius: 10%;
  background-color: blue;
}